In [4]:
import numpy as np
import pandas as pd
%matplotlib inline 
import re
from datetime import datetime
from datetime import timedelta
import chardet

pd.options.display.max_columns = 100

In [18]:
# https://play.google.com/apps/publish/?account=5084250478732509234#BulkExportPlace:bep=com.topface.topface&bet=REVIEW&rwn=REVIEWS

with open('reviews%2Freviews_com.topface.topface_201803.csv', 'rb') as f:
    result1 = chardet.detect(f.read())  # or readline if the file is large
with open('reviews%2Freviews_com.topface.topface_201804.csv', 'rb') as f:
    result2 = chardet.detect(f.read())  # or readline if the file is large
with open('reviews%2Freviews_com.topface.topface_201805.csv', 'rb') as f:
    result3 = chardet.detect(f.read())  # or readline if the file is large

df = pd.concat([pd.read_csv('reviews%2Freviews_com.topface.topface_201803.csv', encoding=result1['encoding']),
                pd.read_csv('reviews%2Freviews_com.topface.topface_201804.csv', encoding=result2['encoding']),
                pd.read_csv('reviews%2Freviews_com.topface.topface_201805.csv', encoding=result3['encoding'])])

In [19]:
df.head()

,Package Name,App Version Code,App Version Name,Reviewer Language,Device,Review Submit Date and Time,Review Submit Millis Since Epoch,Review Last Update Date and Time,Review Last Update Millis Since Epoch,Star Rating,Review Title,Review Text,Developer Reply Date and Time,Developer Reply Millis Since Epoch,Developer Reply Text,Review Link
0,com.topface.topface,NaN,NaN,en,htc_hiau_ml_tuhl,2018-03-01T00:01:29Z,1519862489417,2018-03-01T00:01:31Z,1519862491967,5,NaN,NaN,NaN,NaN,NaN,NaN
1,com.topface.topface,342400.0,3.4.24,en,j7xelte,2018-03-01T00:19:09Z,1519863549594,2018-03-01T00:19:25Z,1519863565598,5,NaN,NaN,NaN,NaN,NaN,NaN
2,com.topface.topface,342400.0,3.4.24,ru,D6603,2018-03-01T00:33:10Z,1519864390600,2018-03-01T00:33:10Z,1519864390600,1,NaN,NaN,NaN,NaN,NaN,NaN
3,com.topface.topface,342301.0,3.4.23,ru,grandpplte,2018-03-01T00:41:03Z,1519864863538,2018-03-01T00:41:06Z,1519864866133,5,NaN,NaN,NaN,NaN,NaN,NaN
4,com.topface.topface,NaN,NaN,es,Avvio_750,2018-03-01T01:34:08Z,1519868048122,2018-03-01T01:34:08Z,1519868048122,5,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df['date'] = df['Review Last Update Date and Time'].apply(lambda x: x[:10])
df['one'] = 1

In [34]:
df.pivot_table(index='date', columns='Star Rating', values='one', aggfunc=len).fillna(0).applymap(float).to_csv('out.csv')
# df.groupby(['date','Star Rating']).sum()