In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from datetime import timedelta

In [2]:
def f_unique_len_sum(df_payments, metrix):
# def f_unique_len_sum(df_payments, test_groups, metrix):
    test_groups = ['TG','CG1','CG2']
    out = []
    for test_group in test_groups:
        out.append(len(set(df_payments[(df_payments['test group'] == test_group) & (df_payments[metrix] == True)]['user ID'])))
    for test_group in test_groups:
        out.append(len(df_payments[(df_payments['test group'] == test_group) & (df_payments[metrix] == True)]['user ID']))
    for test_group in test_groups:
        out.append(df_payments[(df_payments['test group'] == test_group) & (df_payments[metrix] == True)]['revenue in cents'].sum())
    idx = ['payers__TG','payers__CG1','payers__CG2','payments__TG','payments__CG1','payments__CG2','revenue__TG','revenue__CG1','revenue__CG2']
    return(pd.DataFrame(out, columns = [metrix], index = idx))

In [104]:
# https://portraits.core.tf/app/kibana#/visualize/create?type=histogram&indexPattern=portraits&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(filters:!(('$$hashKey':'object:3287',input:(query:(query_string:(analyze_wildcard:!t,query:'tags:Multirun_FullPremListWithoutWeek_Android_run1__TG'))),label:''),('$$hashKey':'object:3296',input:(query:(query_string:(analyze_wildcard:!t,query:'tags:Multirun_FullPremListWithoutWeek_Android_run1__CG1')))),('$$hashKey':'object:3301',input:(query:(query_string:(analyze_wildcard:!t,query:'tags:Multirun_FullPremListWithoutWeek_Android_run1__CG2')))))),schema:segment,type:filters),(id:'3',params:(field:country,order:desc,orderBy:'1',size:200),schema:group,type:terms),(id:'4',params:(filters:!(('$$hashKey':'object:3189',input:(query:(query_string:(analyze_wildcard:!t,query:'referral:0'))),label:''),('$$hashKey':'object:3198',input:(query:(query_string:(analyze_wildcard:!t,query:'referral:1'))))),row:!t),schema:split,type:filters)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'New%20Visualization',type:histogram))
df_installs = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1_inst.csv')

# df_payments_TG = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__TG.csv')
# df_payments_CG1 = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG1.csv')
# df_payments_CG2 = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG2.csv')

df_payments_TG_notref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__TG_notref.csv')
df_payments_CG1_notref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG1_notref.csv')
df_payments_CG2_notref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG2_notref.csv')

df_payments_TG_ref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__TG_ref.csv')
df_payments_CG1_ref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG1_ref.csv')
df_payments_CG2_ref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG2_ref.csv')

In [105]:
df_payments_TG_notref['ref'] = 'notref'
df_payments_CG1_notref['ref'] = 'notref'
df_payments_CG2_notref['ref'] = 'notref'

df_payments_TG_ref['ref'] = 'ref'
df_payments_CG1_ref['ref'] = 'ref'
df_payments_CG2_ref['ref'] = 'ref'

df_payments_TG = pd.concat([df_payments_TG_notref, df_payments_TG_ref])
df_payments_CG1 = pd.concat([df_payments_CG1_notref, df_payments_CG1_ref])
df_payments_CG2 = pd.concat([df_payments_CG2_notref, df_payments_CG2_ref])

In [106]:
df_installs.columns = ['test group','country','ref','users']
df_installs.loc[df_installs['test group'].map(lambda x: bool(re.search('TG',x)) ), 'test group'] = 'TG'
df_installs.loc[df_installs['test group'].map(lambda x: bool(re.search('CG1',x)) ), 'test group'] = 'CG1'
df_installs.loc[df_installs['test group'].map(lambda x: bool(re.search('CG2',x)) ), 'test group'] = 'CG2'
df_installs.loc[df_installs['ref'] == 'referral:0', 'ref'] = 'notref'
df_installs.loc[df_installs['ref'] == 'referral:1', 'ref'] = 'ref'

In [107]:
df_payments_TG['test group'] = 'TG'
df_payments_CG1['test group'] = 'CG1'
df_payments_CG2['test group'] = 'CG2'
df_payments = pd.concat([df_payments_TG,df_payments_CG1,df_payments_CG2])

In [108]:
df_payments['Product Id'] = df_payments['Product Id'].fillna('null')
df_payments['is_prem'] = df_payments['Product Id'].map(lambda x: bool(bool(re.search('prem',x)) + bool(re.search('vip',x)) + bool(re.search('trial',x))))
df_payments['is_trial'] = df_payments['Product Id'].map(lambda x:  bool(re.search('trial',x)) )
df_payments['is_coin'] = df_payments['Product Id'].map(lambda x:  bool(re.search('coin',x)) )
df_payments['is_like'] = df_payments['Product Id'].map(lambda x:  bool(re.search('like',x)) )
df_payments['is_bomb'] = df_payments['Product Id'].map(lambda x:  bool(re.search('bomb',x)) )

In [109]:
df_payments.head()

,ref ID,partner ID,ref date,user ID,registration date,payment ID,payment date,payment amount,revenue in cents,payment service ID,...,country,last app,Product Id,ref,test group,is_prem,is_trial,is_coin,is_like,is_bomb
0,NaN,NaN,NaN,117703943,2018-04-06 02:43:23,1,2018-04-20 03:42:06,393,275,147,...,UA,topfacemobappandroid,com.topface.topface.sub.vip.month.10,notref,TG,True,False,False,False,False
1,NaN,NaN,NaN,117702090,2018-04-05 23:53:22,1,2018-04-06 21:15:04,561,392,147,...,TR,topfacemobappandroid,com.topface.topface.sub.vip.month.10,notref,TG,True,False,False,False,False
2,NaN,NaN,NaN,117681392,2018-04-05 00:09:01,4,2018-04-09 02:10:45,1965,1375,147,...,KR,topfacemobappandroid,com.topface.topface.sub.trial.vip.month.13.3da...,notref,TG,True,True,False,False,False
3,NaN,NaN,NaN,117572875,2018-03-31 20:48:48,1,2018-03-31 20:49:42,2542,1779,147,...,CL,topfacemobappandroid,com.topface.topface.sub.vip.month.3.2699.v1,notref,TG,True,False,False,False,False
4,NaN,NaN,NaN,117694331,2018-04-05 16:32:24,4,2018-04-06 21:47:43,273,191,146,...,TR,topfacemobappandroid,com.topface.topface.sub.coins.month.40.5,notref,TG,False,False,True,False,False

In [110]:
# df_payments = df_payments[df_payments['ref ID'].isna()]
# df_payments = df_payments[~df_payments['ref ID'].isna()]

# df_payments = df_payments[df_payments['registration date'] < '2018-03-24']

In [111]:
df_payments['all'] = True
metrices = ['all','is_prem','is_trial','is_coin','is_like','is_bomb']

In [112]:
spend_by_types = pd.concat(list(map(lambda x: f_unique_len_sum(df_payments, x), metrices)), axis = 1)

In [113]:
spend_by_types

                  all  is_prem  is_trial  is_coin  is_like  is_bomb
payers__TG        271      237       124       71       41        4
payers__CG1       349      310       135       95       53        4
payers__CG2       323      288       121       81       46        3
payments__TG      512      293       155      164       50        5
payments__CG1     662      387       174      194       66       15
payments__CG2     599      358       155      151       66       15
revenue__TG    344406   287488    151616    45586    10612      720
revenue__CG1   353503   279561    155514    59528    12579     1835
revenue__CG2   316899   248355    138913    50632    13542     2929

In [114]:
# pd.concat(list(map(lambda x: f_unique_len_sum(df_payments[~(df_payments['ref ID'] > 0)], x), metrices)), axis = 1)

In [115]:
# pd.concat(list(map(lambda x: f_unique_len_sum(df_payments[df_payments['ref ID'] > 0], x), metrices)), axis = 1)

In [116]:
# df_installs = df_installs[df_installs['ref'] == 'notref']

In [118]:
m_installs_all = df_installs.pivot_table(index='country', columns='test group', values='users', aggfunc=sum).fillna(0).applymap(float)
m_payments_all = df_payments.pivot_table(index='country', columns='test group', values='revenue in cents', aggfunc=sum).fillna(0).applymap(float)
m_payers_all = df_payments.pivot_table(index='country', columns='test group', values='user ID', aggfunc=lambda x: len(set(x))).fillna(0).applymap(float)

m_installs_notref = df_installs[df_installs['ref'] == 'notref'].pivot_table(index='country', columns='test group', values='users', aggfunc=sum).fillna(0).applymap(float)
m_payments_notref = df_payments[df_payments['ref'] == 'notref'].pivot_table(index='country', columns='test group', values='revenue in cents', aggfunc=sum).fillna(0).applymap(float)
m_payers_notref = df_payments[df_payments['ref'] == 'notref'].pivot_table(index='country', columns='test group', values='user ID', aggfunc=lambda x: len(set(x))).fillna(0).applymap(float)

m_installs_ref = df_installs[df_installs['ref'] == 'ref'].pivot_table(index='country', columns='test group', values='users', aggfunc=sum).fillna(0).applymap(float)
m_payments_ref = df_payments[df_payments['ref'] == 'ref'].pivot_table(index='country', columns='test group', values='revenue in cents', aggfunc=sum).fillna(0).applymap(float)
m_payers_ref = df_payments[df_payments['ref'] == 'ref'].pivot_table(index='country', columns='test group', values='user ID', aggfunc=lambda x: len(set(x))).fillna(0).applymap(float)

In [120]:
out = pd.concat([m_installs_all, m_payments_all, m_payers_all, m_installs_notref, m_payments_notref, m_payers_notref, m_installs_ref, m_payments_ref, m_payers_ref], axis = 1).fillna(0)
writer = pd.ExcelWriter('installs_revenue_payers.xlsx')
out.to_excel(writer,'installs_revenue_payers')
writer.save()

In [125]:
m_payments_all.loc['IN',]

test group
CG1    72509.0
CG2    51726.0
TG     47234.0
Name: IN, dtype: float64